<?php
return array(
    'bitbucket' => array(
        'key' => '',
        'secret' => '',
        'access_token' => '',
        'secret_token' => '',
        'workspace' => '',
    ),

    'asana' => array(
        'api_key' => '',
        'client_id' => '',
        'client_secret' => '',
        'token' => '',
        'workspace_id' => '',
    ),

    'db' => array(
        'driver' => 'pdo_sqlite',
        'path' => __DIR__.'/../db/bitbucketasana.sqlite',
    ),
);
