<?php
return array(
    'bitbucket' => array(
        'key' => '',
        'secret' => '',
        'access_token' => '',
        'secret_token' => '',
    ),

    'asana' => array(
        'api_key' => '',
        'client_id' => '',
        'client_secret' => '',
        'token' => '',
    ),

    'user_map' => array(
    ),

    'project_map' => array(
    ),
);

